<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Boost / Treinos</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/inicio-personal" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png">
        <span class="d-none d-lg-block">Boost</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% set foto = itens.foto %}

            {% if foto and foto !== '' %}
                <img src="/assets/fotos/{{ foto }}" alt="Foto do Usuário" style="width: 50px; height: 50px;" class="rounded-circle">
            {% else %}
                <img src="/assets/fotos/foto_padrao.png" alt="Foto Padrão" style="width: 50px; height: 50px;" class="rounded-circle">
            {% endif %}
             <span class="d-none d-md-block dropdown-toggle ps-2">{{forms.nome}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{forms.nome}}</h6>
              <span>Personal</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/perfil-personal">
                <i class="bi bi-person"></i>
                <span>Meu Perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/login">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sair</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/inicio-personal">
          <i class="ri-home-2-line"></i>
          <span>Início</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/alunos-personal">
          <i class="bi bi-people"></i>
          <span>Alunos</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/treinos">
          <i class="bx bx-dumbbell"></i>
          <span>Treinos</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/feedbacks-personal">
          <i class="bi bi-emoji-smile"></i>
          <span>Feedbacks</span>
        </a>
      </li>

       

      <li class="nav-item">
        <a class="nav-link collapsed" href="/perfil-personal">
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Meus Exercícios</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/inicio-personal"><i class="bi bi-house-door"></i></a></li>
          <li class="breadcrumb-item active">Treinos</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        {% for grupo in treinoProf %}
      <div class="col-sm-3 ps-0 pe-4">
        <div class="card">
          <div class="card-body pb-0">
            <div class="accordion accordion-flush" id="rfc">
              <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingum">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                       data-bs-target="#grupo-{{ grupo.idx }}" aria-expanded="false" aria-controls="flush-collapseum">
                       {{ grupo.grupo }}
            </button>
                    </h2>
                
                <div id="grupo-{{ grupo.idx }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ grupo.grupo }}"  >
                  <div class="accordion-body pb-0">
                    <table class="table table-borderless">
                    <tbody>
                      {% for treino in grupo.treinos %}
                      <tr>
  
                        <td class="col-10 align-middle">{{treino.exercicio}}</td>
                        <form action="/deletar-treino" method="post">
                          <td class="col-2"><button type="submit" value="{{treino.exercicio}}" name="btn" class="btn"><i class="ri-delete-bin-line"></i></button></td>
                        </form>
                      </tr>
                      {% endfor %}
                    </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse pt-2"> 
        <button class="btn btn-outline-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="ri-file-add-line"></i></button>
      </div>
    </section>

  </main><!-- End #main -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <form action="/treinos" method="post">
        <select class="form-select mb-2" name="grupoMuscular">
              <option selected>Grupo Musucular</option>
              {% for grupos in GrupoBanco %}
              <option value="{{grupos.grupo}}">{{grupos.grupo}} </option>
              {% endfor %}
            </select>
            <input class="form-control mb-2" type="text" name="exercicio" placeholder="Exercício" >
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Adicionar</button>
          </div>
        </form>
    </div>
    </div>
  </div>




  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>
</html>