<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Boost / Dieta</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/inicio" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png">
        <span class="d-none d-lg-block">Boost</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% set foto = forms.foto %}

            {% if foto and foto !== '' %}
                <img src="/assets/fotos/{{ foto }}" alt="Foto do Usuário" style="width: 50px; height: 50px;" class="rounded-circle">
            {% else %}
                <img src="/assets/fotos/foto_padrao.png" alt="Foto Padrão" style="width: 50px; height: 50px;" class="rounded-circle">
            {% endif %}
            <span class="d-none d-md-block dropdown-toggle ps-2">{{formsUser.nome}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{formsUser.nome}}</h6>
              <span>Aluno</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/user-profile">
                <i class="bi bi-person"></i>
                <span>Meu Perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/login">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sair</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/inicio">
          <i class="ri-home-2-line"></i>
          <span>Início</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/treinos-da-semana">
          <i class="bx bx-dumbbell"></i>
          <span>Treino</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/dietas-da-semana'">
          <i class="ri-restaurant-fill"></i>
          <span>Dieta</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/progresso">
          <i class="bi bi-bar-chart"></i>
          <span>Progresso</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/profissionais">
          <i class="ri-nurse-line"></i>
          <span>Profissionais</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/user-profile">
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Minhas Refeições</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/inicio"><i class="bi bi-house-door"></i></a></li>
          <li class="breadcrumb-item">Dieta</li>
          <li class="breadcrumb-item active">Refeições</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="row">
      <div class="col-12">
        <div class="card overflow-auto">
          <div class="card-body">
   <!-- Accordion without outline borders -->
{% for grupo in refeicoes %}
<div class="accordion accordion-flush" id="rfc">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading-{{ grupo.grupo }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#grupo-{{ grupo.idx }}" aria-expanded="false" aria-controls="flush-collapseum">
                {{ grupo.grupo }} - {{grupo.horario}}
            </button>
        </h2>
        <div id="grupo-{{ grupo.idx }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ grupo.grupo }}"
            data-bs-parent="#rfc">
            <div class="accordion-body overflow-auto">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Alimento</th>
                            <th>Quant.</th>
                            <th>Proteina</th>
                            <th>Carboidratos</th>
                            <th>Gordura</th>
                            <th>Calorias</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alimento in grupo.alimentos %}
                            <tr>
                                <td>{{ alimento.nome }}</td>
                                <td>{{ alimento.quantidade }}</td>
                                <td>{{ alimento.proteina }}</td>
                                <td>{{ alimento.carboidratos }}</td>
                                <td>{{ alimento.gorduras }}</td>
                                <td>{{ alimento.calorias }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<p>
  <p>
            <button class="btn btn-outline-warning btn-lg" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-star-half"></i></button>
          </div>
        </div>
      </div>


  </main><!-- End #main -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form action="/feedNutri" method="post">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5 class="card-title">Deixe seu Feedback aqui</h5>
        <div class="form-floating">
          <textarea class="form-control" name="feed2" id="floatingTextarea"></textarea>
          <label for="floatingTextarea" name="feed"></label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Adicionar</button>
      </div>
    </form>
    </div>
    </div>
  </div>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>