<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Boost / Perfil</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/inicio" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png">
        <span class="d-none d-lg-block">Boost</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% set foto = itens.foto %}

            {% if foto and foto !== '' %}
                <img src="/assets/fotos/{{ foto }}" alt="Foto do Usuário" style="width: 50px; height: 50px;" class="rounded-circle">
            {% else %}
                <img src="/assets/fotos/foto_padrao.png" alt="Foto Padrão" style="width: 50px; height: 50px;" class="rounded-circle">
            {% endif %}
            <span class="d-none d-md-block dropdown-toggle ps-2">{{forms.nome}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{forms.nome}}</h6>
              <span>Aluno</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/user-profile">
                <i class="bi bi-person"></i>
                <span>Meu Perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/login">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sair</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/inicio">
          <i class="ri-home-2-line"></i>
          <span>Início</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/treinos-da-semana">
          <i class="bx bx-dumbbell"></i>
          <span>Treino</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/dietas-da-semana">
          <i class="ri-restaurant-fill"></i>
          <span>Dieta</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/progresso">
          <i class="bi bi-bar-chart"></i>
          <span>Progresso</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/profissionais">
          <i class="ri-nurse-line"></i>
          <span>Profissionais</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/user-profile">
          <i class="bi bi-person"></i>
          <span>Perfil</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Seu Perfil</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/inicio"><i class="bi bi-house-door"></i></a></li>
          <li class="breadcrumb-item active">Perfil</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-12">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">

            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Visão
                Geral</button>
            </li>

            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Editar Perfil</button>
            </li>


          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <div class="row mb-0">
                <div class="col-12">
                  <div class="card mb-0">
                    <div class="card-body">
                      <h5 class="card-title">Detalhes</h5>
                      <div class="row">
                        <div class="label col-lg-3 col-md-4">Nome Completo</div>
                        <div class="col-lg-9 col-md-8">{{forms.nome}}</div>
                      </div>

                      <div class="row">
                        <div class="label col-lg-3 col-md-4">Sexo</div>
                        <div class="col-lg-9 col-md-8">
                          
                          {% if itens.sexo %}
                          {{itens.sexo}}
                         {% else %}
                           Sexo ainda não cadastrado
                         {% endif %}
                        </div>
                      </div>

                      <div class="row">
                        <div class="label col-lg-3 col-md-4">Idade</div>
                        <div class="col-lg-9 col-md-8"> 
                          {% if forms.idade %}
                           {{ forms.idade  }}
                          {% else %}
                            Data de idade não disponível
                          {% endif %}
                        </div>
                      </div>

                      <div class="row">
                        <div class="label col-lg-3 col-md-4">Telefone</div>
                        <div class="col-lg-9 col-md-88">
                          {% if itens.telefone %}
                          {{itens.telefone}}
                         {% else %}
                           Telefone ainda não cadastrado
                         {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="label col-lg-3 col-md-4">Email</div>
                        <div class="col-lg-9 col-md-8">{{login.email}}</div>
                      </div>

                      <h5 class="card-title">Informações para o personal</h5>
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Objetivo no treino</div>
                        <div class="col-lg-9 col-md-8">                         
                          {% if itens.objt_treino %}
                          {{itens.objt_treino}}
                         {% else %}
                          Objetivo no treino ainda não cadastrado
                         {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Tempo de Treino</div>
                        <div class="col-lg-9 col-md-8">
                          
                          {% if itens.temp_treino %}
                          {{itens.temp_treino}}
                         {% else %}
                         Tempo de Treino ainda não cadastrado
                         {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Frequenca de Treinos</div>
                        <div class="col-lg-9 col-md-8">
                          
                          {% if itens.freq_treino %}
                          {{itens.freq_treino}}
                         {% else %}
                         Frequenca de Treinos ainda não cadastrado
                         {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Problemas Físicos</div>
                        <div class="col-lg-9 col-md-8">
                         
                          {% if itens.problemas %}
                          {{itens.problemas}}
                         {% else %}
                         Problemas Físicos ainda não cadastrado
                         {% endif %}
                        </div>
                      </div>

                      <h5 class="card-title">Informações para o nutricionista</h5>
                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Objetivo na dieta</div>
                        <div class="col-lg-9 col-md-8">
                          
                          {% if itens.objt_dieta %}
                          {{itens.objt_dieta}}
                         {% else %}
                         Objetivo na dieta ainda não cadastrado
                         {% endif %}
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Restrições alimentares</div>
                        <div class="col-lg-9 col-md-8">
                          
                          {% if itens.restricao %}
                          {{itens.restricao}}
                         {% else %}
                         Restrições alimentares ainda não cadastrado
                         {% endif %}
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-3 col-md-4 label">Refeições do dia</div>
                        <div class="col-lg-9 col-md-8">
                          
                          {% if itens.ref_dia %}
                          {{itens.ref_dia}} refeições 
                         {% else %}
                         Refeições do dia ainda não cadastrado
                         {% endif %}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          

        <div class="tab-pane fade profile-edit" id="profile-edit">
          <div class="row mb-0">
            <div class="col-12">
              <div class="card mb-0">
                <div class="card-body">
                  <h5 class="card-title">Detalhes</h5>
                  <!-- Profile Edit Form -->
                  <form method="post" action="/user-profile"  encType="multipart/form-data">
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagem de Perfil</label>
                      <div class="col-md-8 col-lg-9">
                        {% set foto = itens.foto %}

                        {% if foto and foto !== '' %}
                            <img src="/assets/fotos/{{ foto }}" alt="Foto do Usuário"  style="width: 100px; height: 100px;" class="rounded-circle">
                        {% else %}
                            <img src="/assets/fotos/foto_padrao.png" alt="Foto Padrão" style="width: 100px; height: 100px;" class="rounded-circle">
                        {% endif %}
                         <div class="pt-2">
                          <input type="file" id="fileInput" name="foto_perfil" style="display: none;" accept="image/*">
                        <label for="fileInput" class="btn btn-primary btn-sm custom-link" title="Upload new profile image">
                        <i class="bi bi-upload"></i>
                        </label>
                        <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

              

                    <div class="row mb-3">
                      <label for="sexo" class="col-md-4 col-lg-3 col-form-label">Sexo</label>
                      <div class="col-md-8 col-lg-9">
                        <select class="form-select" name="sexo">
                          <option value="Outros" selected>Outros</option>
                          <option value="Masculino">Masculino</option>
                          <option value="Feminino">Feminino</option>
                        </select>
                      </div>
                    </div>

                  
                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Telefone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" value="(037) 99999-9999">
                      </div>
                    </div>

                  

                    <h5 class="card-title">Informações para o personal</h5>

                    <div class="row mb-3">
                      <label for="objtreino" class="col-md-4 col-lg-3 col-form-label">Objetivo de treino</label>
                      <div class="col-md-8 col-lg-9">
                      <select class="form-select" name="objetivo_treino">
                        <option value="Definição muscular" selected>Definição muscular</option>
                        <option value="Pesa de peso">Perda de peso</option>
                        <option value="Saúde geral">Saúde geral</option>
                        <option value="Outros">Outros</option>>
                      </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="tanos" class="col-md-4 col-lg-3 col-form-label">Tempo de treino</label>
                      <div class="col-md-8 col-lg-9">
                        <select class="form-select" name="tempo">
                          <option value="Menos de 1 ano" selected>Menos de 1 ano</option>
                          <option value="1 a 3 anos">1 a 3 anos</option>
                          <option value="Mais de 3 anos">Mais de 3 anos</option>>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="tanos" class="col-md-4 col-lg-3 col-form-label">Frequência de treinos</label>
                      <div class="col-md-8 col-lg-9">
                        <select class="form-select" name="frequencia">
                          <option value="7" selected>7</option>
                          <option value="6">6</option>
                          <option value="5">5</option>
                          <option value="4">4</option>
                          <option value="3">3</option>
                          <option value="2">2</option>
                          <option value="1">1</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="problemas" class="col-md-4 col-lg-3 col-form-label">Problemas físicos</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="problemas" type="text" class="form-control" id="problemas" placeholder="Ombro e joelho">
                      </div>
                    </div>

                    <h5 class="card-title">Informações para o nutricionista</h5>

                    <div class="row mb-3">
                      <label for="objdieta" class="col-md-4 col-lg-3 col-form-label">Objetivo na dieta</label>
                      <div class="col-md-8 col-lg-9">
                        <select class="form-select" name="objetivo_dieta">
                          <option value="Ganho de peso" selected>Ganho de peso</option>
                          <option value="Perda de peso">Perda de peso</option>
                          <option value="Outro">Outro</option>
                        </select>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="restricoes" class="col-md-4 col-lg-3 col-form-label">Restrições alimentares</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="restricoes" type="text" class="form-control" id="restricoes" value="Nenhuma">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="refi" class="col-md-4 col-lg-3 col-form-label">Refeições diárias</label>
                      <div class="col-md-8 col-lg-9">
                        <select class="form-select" name="qnt_refeicoes">
                          <option value="6">6</option>
                          <option value="5" selected>5</option>
                          <option value="4">4</option>
                          <option value="3">3</option>
                        </select>
                      </div>
                    </div>


                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </div>
                  </form><!-- End Profile Edit Form -->
                </div>
              </div>
            </div>
          </div>
        </div>


      </div><!-- End Bordered Tabs -->
      </div>
      </div>
      </div>
      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>